{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div>
        {{ chart.title }}<br>
    </div>
    <div id="app"></div>
{% endblock %}
{% block javascripts %}
    <script>
        window.pageSet = {
            pageCode:'{{ pageCode }}'
        };
    </script>
    {{ parent() }}
{% endblock %}
