.bar {
    fill: steelblue;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    /*display: none;*/
}

.play-button {
    margin: auto;
    width: 10%;
    /*border: 3px solid green;*/
    padding: 2px;
}

/*d3 chart size*/
.chart-area.d3-chart-area{
    height: 25rem;
}


/*
 * use crispEdges for a sharper looking axis
 * since these are vertical/horizontal lines
 */
.axis line{
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}


.axis path{
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}


/*
 * align text with a tick
 */
.tick text{
    /*text-anchor: end; !* or start or end *!*/
}
